.ListUser{
    display: flex;
    border: solid 1px lightgray;
    width: 90%;
    margin: 0 auto;
}

.ListUser__img{
    margin-top: 5px;
    margin-left: 5px;
}
.ListUser__img img {
    border-radius: 50%;
}

.ListUser__info{
    margin-left: 10px;
}
.ListUser__info p{
    margin: 0;
}