.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: pink;
  position: relative;
  margin-bottom: 20px;
}

.Header__title {
  color: white;
  margin-left: 50px;
}

.Header__icons {
  position: relative;
  display: flex;
  color: white;
  position: absolute;
  top: 30px;
  right: 50px;
}

.Header__icons_rel {
  margin-right: 20px;
}

.Header__icons_grid {
  display: block;
  position: absolute;
  right: 2px;
}

.Header__icons_list {
  position: absolute;
  right: 2px;
  display: block;
}

/* .active{
  display: block;
} */
